extends layout 

block content

    h1(class='m-10 text-center text-2xl text-pink-600')= title 

    a(href="/browse/brand/create" class='m-10 p-5 underline text-blue-500') Create new Brand 

    div(class='flex justify-between')
        each brand in brand_list
            div(class='flex flex-col border rounded-md border-red-400 m-5 p-5')
                a(href=brand.url class='text-red-700') #{brand.brand_name} 
                p #{brand.headquarters}
                p #{brand.about_brand}
                p #{brand.year_founded}