extends layout 

block content

    h1(class='text-center m-5 p-5 text-2xl text-green-600') #{brand.brand_name}

    div(class='flex flex-col items-center m-5 p-5 space-y-6')
        div(class='')
            h3 You can find them at #{brand.headquarters}
        div(class='max-w-xl text-center')
            p #{brand.about_brand}
        div(class='')
            p(hclass='underline text-indigo-300') Making stuff since #{brand.year_founded}

    div(class='flex m-5 p-5 justify-center')
        each phone in brand_phones
            div(class='border rounded m-3 p-3 hover:bg-violet-400')
                a(href=phone.url)  #{phone.model}