extends layout 

block content

    h1(class='text-center m-5 p-5 text-2xl text-green-600') #{phone.model}

    div(class='flex flex-col items-center m-5 p-5 space-y-6')
        div(class='')
            h3 Created by #{phone.brand.brand_name}
        div(class='max-w-xl text-center')
            p #{phone.description}
        div(class='')
            a(href=phone.seller.url class='underline text-indigo-300') You can buy this model at #{phone.seller.seller_name}

    div(class='flex m-5 p-5 justify-center')
        each review in phone_reviews
            div(class='border rounded m-3 p-3 hover:bg-violet-400')
                a(href=review.url)  #{review.reviewer}

    p 
        a(href=phone.url+'/delete' class='m-10 p-2 border rounded-xl bg-red-200 hover:bg-red-600') Delete Phone 
    p(class='my-5') 
        a(href=phone.url+'/update' class='m-10 p-2 border rounded-xl bg-red-200 hover:bg-red-600') Update Phone 
